[Desktop Entry]
Type=Application
Name=Aquarium64
Comment=The Jolly Roger Bay aquarium from Super Mario 64 as a screensaver
Exec=aquarium64 --fullscreen
Icon=aquarium64
Terminal=false
Categories=Graphics;Game;
Keywords=screensaver;aquarium;super mario 64;