[Desktop Entry]
Type=Application
Name=Acquarium64
Comment=The Jolly Roger Bay aquarium from Super Mario 64 as a screensaver
Exec=acquarium64 --fullscreen
Icon=acquarium64
Terminal=false
Categories=Graphics;Game;
Keywords=screensaver;aquarium;super mario 64;